/*
    File: _layout.scss
    Author: Patrick Galicia
    Desc: Should contain styles pertaining to the structure of a large key component of your view (ie navbar's height). Will and only should have id selectors
*/
